:root{
    --border-test: 3px solid black;
    --color1: rgb(238, 238, 91);
    --color2: white;
    --color3: rgba(1, 53, 165, 0.79);
    --color4:skyblue;
    --color5:rgb(51, 0, 255);
    /*tipos de texto*/
    --text1:Arial, sans-serif;
    --border-radius1: 20px;

}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    font-family:var(--text1) ;
    color: var(--color3);
    align-items: center;


}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
    width: 80%;
    padding: 20px;
    border-radius: var(--border-radius1);
    margin: 20px;
}

/*Encabezado*/
/*parte del modelado flex box */
.hero{
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: var(--color2);
    text-align: center;
    background-color: var(--color3);
    border-radius: var(--border-radius1);
    padding: 30px;
    margin: 30px;
    width: 80%;
    min-width: 600px;
}

.hero-image{
    display: flex;
    min-width: 250px;
    
}
.image-edit{
    display: flex;     
    width: 100%;
    border: var(--color1) solid 2px;
    border-radius: var(--border-radius1);
    }
.hero-info {
    height: auto;
    display: flex;
    flex-direction: column;  
    gap:30px;
    align-items: center;
}
.hero-text{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.hero-text p{
    color: var(--color2);
    font-size:30px;
}
.hero-tecnologias{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    justify-content: center;
}
.hero-tecnologias p{
    color: black;
    border: white 3px solid;
    border-radius: 5px;
    background-color: rgb(233, 228, 121);
    padding: 3px 10px 3px 10px;
}
/*botones header*/
.a-hero{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap:10px;
    font-size: 20px;
}

.a-hero a{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: wheat;
    background-color: black;
    border: white solid 2px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.a-hero a:hover{
    color: rgb(2, 2, 2);
    background-color: rgb(161, 173, 158);
}
.portafolio{
    display: flex;
    flex: 1;
}
.subportafolio{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:20px;
    width: 80%;
    background-color: var(--color4);
    border-radius: 20px;

}

/*tegnologias cards*/
.proy-card{
    border: 5px solid rgb(238, 238, 91) ;
    border-radius: 10px;
    background-color: skyblue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}
.proy-card-tecnologias{
    
display: flex;
gap: 15px;
justify-content: center;
border:rgb(250, 250, 250) 3px solid ;
background-color: rgb(255, 255, 255);
width: min-content;
border-radius: 15px;

}
.proy-card-tecnologias span{
    background-color: rgb(238, 238, 91);
    padding: 5px 25px 5px 25px;
    border-radius: 15px;
}
.proy-card a{
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    background-color: rgb(238, 238, 91);
    display: flex;
justify-content: center;
 transition: 0.5s;

}
.proy-card a:hover{
    background-color: white;
       
        color:rgb(166, 166, 5) ;
        transform: scale(120%);

}
.proy-card img{
 max-width: 100%;
}
/*etiquetas*/
.etiqueta{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 1fr;
    padding: 20px;
   
}
/* area proyectos*/
.proyectos{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

